/* ==== RESET ==== */ 
* {
	margin:  0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline:  none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	z-index: 1;	
}

body {
	background-color: white;
}

ul {
	list-style: none;
}
img {
	max-width: 100%;
}
#map {
	height: 35em;
    width: 100%;
	z-index: 0;
}

.title-map {
	margin-top: 0px !important;
	text-align: center;
	font-size: 1em !important;
	font-weight: 500;
}
.description-map {
	text-align: center;
}

/* TELA 1 APRESENTACAO */
	.screen1 {
		width: 100%;
		background-image: url('/images/background-purple.png');
		height: 100vh;
	}
	.screen1-body {
		padding: 3% 4%;
	    height: 100%;
		width: 100%;
	}
	.title {
		position: absolute;
		width: 93%;
		text-align: center;
		top: 45%;
		z-index: 0;
	}
	.title h1 { 
		font-size: 2.0em;
		font-weight: 100;
		color: white;
		z-index: 0;
	}
	.title h2 {
		font-size: 0.5em;
		font-weight: 500;
		color: white;
		margin-left: -13.7em;
		z-index: 0;
	}
	
	.subtitle {
		width: 93%;
		text-align: right;
		position: absolute;
		top: 60%;
		left: 2%;
		z-index: 0;
	}
	.subtitle h3 {
		padding-top: 10em; 
		font-size: 1em;
		font-weight: 100;
		color: white;
		z-index: 0;	
	}
	.subtitle h3 span{
		font-size: 1em;
		font-weight: 500;
		color: white;
		z-index: 0;	
	}


	/* HEADER */
	.header {
		width: 100%;
		float: left;
		padding:  0% 0%;
		padding-left: 3% 4%;
		position: fixed;
		/* background-color: transparent; */
	}

	.logo {
		width: 56px;
		height: 56px;
		float: left;
		background: url('/images/logo.png') center / cover;
		font-size:  0;
		position: fixed;
		z-index: 1;
	}	

	.btn-menu {
		width: 56px;
		height: 56px;
		float: right;
		text-align: center;
		color:  #fff;
		background-color: transparent;
		/* border-radius: 56px; */
		cursor: pointer;
		/* background: linear-gradient(to right,red, orange); */
	}

	/* MENU */
	.menu {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.9);
		top: 0;
		left: 0;
		display: none;
		position: fixed;
		z-index: 1; 
		
	}
	/* MENU */
	.menu-horizontal {
		width: 100%;
		height: 55px;
		top: 0;
		left: 0;
		position: fixed;
		background-color: transparent;
		z-index: 1;
		display: none;
	}
	.menu-horizontal ul {
		float: right;
		margin: 1em;
	}
	.menu-horizontal ul li { 
		display: inline; 
		text-transform: uppercase;
		font-weight: 300;
		margin-right: 5px;
	}
	.menu-horizontal li a {
		font-size:  1.1em;
		color: rgba(255, 255, 255, 0.8);
		text-decoration: none;
	}

	.menu-horizontal li a:hover { 
		font-size:  1.1em;
		color: rgb(255, 255, 255);
		text-decoration: none;
		font-weight: 500; 
	}
	.btn-close {
		font-size: 3em;
		color:  #fff;
		float: right;
		cursor:  pointer;
		margin-right: 5%;
	}
	.menu ul {
		width: 100%;
		float: left;
		text-align: center;
	}
	.menu li {
		padding: 1.5%;
	}
	.menu li a {
		font-size:  1.1em;
		color:  #fff;
		text-decoration: none;
	}
	.menu li a:hover {
		font-size:  1.1em;
		display: block;
		background-color: red;
		color:  black;
	}	

/* TELA 2 ESPECIALIDADES */
	.screen2 {
		width: 100%;
		min-height: 100vh;
    	overflow: auto;
	}

	.screen2 h1 {
		color: #383838;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.5em;
		padding:  3% 4%;  
	}

	.skills {
		width: 100%;
		float: left;
		padding:  3% 4%;
	}

	.skill {
		width: 100%;
		text-align: left;
		margin-bottom: 1em;
	    float: left;
	}
	.skill-left img { 
		width: 20%;
		border-radius: 50%;
		float: left;
		max-height: 100px;
		max-width: 100px;
	}
	.skill-left .description {
		width: 78%;
		float: right;
		color: #383838;
		text-align: justify;
	}
	.skill-left .description p {
		line-height: 1.2em;
	}

	.skill-right img { 
		width: 20%;
		border-radius: 50%;
		float: right;
		max-height: 100px;
		max-width: 100px; 
	}
	.skill-right .description {
		width: 78%;
		float: left;
		color: #383838;
		text-align: justify;
	}

	.skill-right .description p {
		line-height: 1.2em;
	}
	.skill .description h4 {
		font-weight:500;
	}
	.skill .description p {
		font-weight:300;
	}

/* TELA 3 HORARIOS */
	.screen3 {
		width: 100%;
		min-height: 100vh;
    	overflow: auto;
	}
	.screen3 h1 {
		color: #383838;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.5em;
		padding:  3% 4%;  
	}
	.cards {
		width: 100%;
		float: left;
		padding:  3% 4%;
	}
	.card {
		padding: 1% 1%;
		border-radius: 2px;
		-webkit-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.5);
		margin-bottom: 5%;
	}
	.card ul {
		margin-bottom: 1em;
		overflow:auto;
	}
	.card h1 {
		font-weight: 100;
		font-size: 6em;
		text-align: center;
		color: #383838;
		margin-top: 0px;
	}
	.card li {
		text-align: left;
		color: #383838;	
	}
	.card li .material-icons{
		text-align: left;
		color: gray;
		padding-top: 1em; 
	}
	.card li span {
		text-align: right;
		color: #383838;
		font-weight: 500;
		width: 29%;	
		float: left;
	}
	.card li p {
		text-align: left;
		padding-left: 0.5em;
		width: 70%;
		float: left;	
	}
	.locals {
		width: 100%;
		float: left;
		padding:  3% 4%;
		overflow:auto;
	}
	.local {
		text-align: center;
		width: 100%;
		margin-bottom: 5%;
		overflow: auto;
	}
	.local a img {
		height: 70px;
		width: auto;
		cursor: pointer;
	}
	.local a img:hover {
		opacity: 0.7;
	}
	.local p span:nth-child(1) {
		font-weight: 500;
		color: #383838; 
	}
	.local p span {
		width: 100%;
		float: left;
	}

/* TELA DO MAPA */
	.screen4 {
		width: 100%;
		float: left;
		text-align: center; 
		background-color: #8863d4;  
	}	

/* TELA CONTATO */
	.screen5 {
		width: 100%;
		float: left;
		text-align: center; 
		background-color: #8863d4;  
	}
	.screen5 h1 {
		color: #383838;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.5em;
		padding:  3% 4%;  
	}
	.social-icons {
		margin-top: 1.5em;
	}
	.social-icons a {
		font-size: 1.5em;
		color: rgba(255, 255, 255, 0.6);
		margin-right: 3%; 
	}

	.social-icons a:hover { 
		font-size: 1.5em;
		color: rgb(255, 255, 255);
		margin-right: 3%; 
	}
	.copyright {
		margin-top: 2%;
		margin-bottom: 2%;
		font-weight: 100;
		font-size: 0.8em;
		color: rgba(255,255,255, 0.7);
	}




/* RESPONSIVIDADE */
/* ============================ */

@media screen and (min-width: 480px) {
    .menu-horizontal {
    	display: none;
    }

    .subtitle {
    	width: 93%;
    	text-align: right;
    	position: absolute;
		top: 74%;
    	left: 2%;
    }
}

@media screen and (min-width: 640px) {
	.menu-horizontal {
		display: none;
	}

	.title {
		top: 43%;
	}
	.title h1 {
		font-size: 3em;
	}
	.title h2 {
		margin-left: -7.2em;
		font-size: 1.0em;
	}
}

@media screen and (min-width: 768px) {
	/* PAGE 1 */
	.menu-horizontal {
		display: none;
	}

	.title h1 {
		font-size: 3em;
	}
	.title h2 {
		font-size: 1.0em;
		margin-left: -7.3em;
	}
	.subtitle h3 {
		padding-top: 6em;
		font-size: 1.5em;
	}

	/* PAGE 2 */
	.skill-left .description {
	    width: 82%;
	}
	.skill-right .description {
	    width: 82%;
	}
	.local {
		width: 33%;
    	float: left;
	}
}

@media screen and (min-width: 1024px){
	.btn-menu { 
		display: none;
	}
	.screen2 h1 {
		margin-top: 55px;
	}
	.screen3 h1 {
		margin-top: 55px;
	}
	.card h1 {
		margin-top: 0px;
	}
	.menu-horizontal {
		display: initial;
	}
	/* Page 2 */
	.skill-left .description {
	    width: 87%;
	}
	.skill-right .description {
	    width: 87%;
	}
	.card {
		width: 31%;
	    float: left;
	    margin-right: 15px;
	    margin-bottom: 0px;
	}
	.card:nth-child(3n) {
		margin-bottom: 60px;
	    margin-right: 25px;
	}
	.card:nth-child(4n) {
		margin-left: 170px;
	}

	.card li p {
		padding-left: 0.5em;
		width: 70%;
	}

	.card li span {
		width: 29%;
	}
}

@media screen and (min-width: 1280px){
	.screen2 h1 {
		margin-top: 55px;
	}
	.screen3 h1 {
		margin-top: 55px;
	}
	.card h1 {
		margin-top: 0px;
	}
	.btn-menu { 
		display: none;
	}

	.title h1 {
		font-size: 4em;
	}
	.title h2 {
	    font-size: 1.3em;
    	margin-left: -8.2em;
	}
	.subtitle h3 {
		padding-top: 6em;
		font-size: 1.5em;
	}

	/* Page 2 */
	.skill-left .description {
	    width: 90%;
	}
	.skill-right .description {
	    width: 90%;
	}
	.cards {
		width: 95%;
		float: left;
		padding: 3% 4%;
		margin-left: 3.5em;
	}
}

@media screen and (min-width: 1366px){
	.screen2 h1 {
		margin-top: 55px;
	}
	.screen3 h1 {
		margin-top: 55px;
	}
	.card h1 {
		margin-top: 0px;
	}
	.btn-menu { 
		display: none;
	}
	.title h1 {
		font-size: 4em;
	}
	.title h2 {
	    font-size: 1.3em;
    	margin-left: -8.2em;
	}
	.subtitle h3 {
		padding-top: 6em;
		font-size: 1.5em;
	}

	/* Page 2 */
	.skill-left .description {
	    width: 90%;
	}
	.skill-right .description {
	    width: 90%;
	}
	.cards {
		width: 95%;
		float: left;
		padding: 3% 4%;
		margin-left: 3.5em;
	}
}

@media screen and (min-width: 1440px) {
	.screen2 h1 {
		margin-top: 55px;
	}
	.screen3 h1 {
		margin-top: 55px;
	}
	.card h1 {
		margin-top: 0px;
	}
	/* page 1 */
	.btn-menu { 
		display: none;
	}
	.title {
	    top: 50%;
	    left: 7%;
	}
	/* Page 2 */
	.skill-left .description {
	    width: 90%;
	}
	.skill-right .description {
	    width: 90%;
	}

	.cards {
		width: 100%;
		float: left;
		padding: 1% 1%;
		margin-left: 0px;

	}
	.card {
		width: 19%;
		float: left;
		margin-bottom: 0px;    
		margin-right: 10px;
	}
	.card:nth-child(1th){
		margin-left: 0px;
	},
	.card:nth-child(5n) {
		margin-right: 0px;
	}
	.card:nth-child(3n) {
		margin-left: 0px;
		margin-right: 10px;
		margin-bottom: 0px;
	}
	.card:nth-child(4n) {
		margin-left: 0px;
	}
}

@media screen and (min-width: 1500px) {
	/* page 1 */
	.title {
	    top: 47%;
	    left: 0%;
	}
	.btn-menu { 
		display: none;
	}
	.screen2 h1 {
		margin-top: 55px;
	}
	.screen3 h1 {
		margin-top: 55px;
	}
	.card h1 {
		margin-top: 0px;
	}
}



